:root, menupopup, panel, #urlbar {
	--arrowpanel-border-color: ThreeDShadow!important;
	--arrowpanel-border-radius: 4px!important;
	--arrowpanel-dimmed-further: SelectedItem!important;
	--arrowpanel-dimmed: SelectedItem!important;
	--arrowpanel-menuitem-margin-block: 0!important;
	--arrowpanel-menuitem-margin-inline: 4px!important;
	--arrowpanel-menuitem-padding-block: 0!important;
	--arrowpanel-menuitem-padding-inline: 4px!important;
	--background-color-canvas: ThreeDFace!important;
	--border-radius-medium: 4px!important;
	--button-active-bgcolor: SelectedItem!important;
	--button-background-color-active: SelectedItem!important;
	--button-background-color-hover: SelectedItem!important;
	--button-hover-bgcolor: SelectedItem!important;
	--identity-box-margin-inline: 0!important;
	--in-content-page-background: ThreeDFace!important;
	--info-bar-background-color: ThreeDFace!important;
	--info-bar-text-color: ButtonText!important;
	--panel-background: ThreeDFace!important;
	--panel-item-hover-bgcolor: SelectedItem!important;
	--panel-separator-color: ThreeDShadow!important;
	--panel-shadow: none!important;
	--panel-subview-body-padding-block: 4px!important;
	--panel-text: ButtonText!important;
	--tab-close-button-padding: 4px!important;
	--tab-hover-background-color: SelectedItem!important;
	--tab-inline-padding: 4px!important;
	--tab-min-height: 24px!important;
	--tab-selected-bgcolor: Canvas!important;
	--tab-selected-outline-color: ThreeDShadow!important;
	--tab-selected-shadow: none!important;
	--tabs-navbar-separator-style: solid!important;
	--text-color-disabled: ThreeDShadow!important;
	--toolbar-bgcolor: ThreeDFace!important;
	--toolbar-color: ButtonText!important;
	--toolbar-field-background-color: Window!important;
	--toolbar-field-border-color: ThreeDShadow!important;
	--toolbar-non-lwt-bgcolor: ThreeDFace!important;
	--toolbar-non-lwt-textcolor: ButtonText!important;
	--toolbar-start-end-padding: 4px!important;
	--toolbar-textcolor-inactive: ButtonText!important;
	--toolbar-textcolor: ButtonText!important;
	--toolbarbutton-active-background: SelectedItem!important;
	--toolbarbutton-hover-background: SelectedItem!important;
	--toolbarbutton-inner-padding: 4px!important;
	--toolbarbutton-outer-padding: 0!important;
	--toolbox-non-lwt-bgcolor-inactive: ThreeDFace!important;
	--toolbox-non-lwt-bgcolor: ThreeDFace!important;
	--toolbox-non-lwt-textcolor-inactive: ButtonText!important;
	--toolbox-non-lwt-textcolor: ButtonText!important;
	--urlbar-box-focus-bgcolor: SelectedItem!important;
	--urlbar-box-hover-text-color: SelectedItemText!important;
	--urlbar-box-text-color: SelectedItemText!important;
	--urlbar-container-height: 24px!important;
	--urlbar-height: 24px!important;
	--urlbar-icon-padding: 2px!important;
	--urlbar-min-height: 24px!important;
	--urlbarView-favicon-margin-end: 2px!important;
	--urlbarView-favicon-margin-start: 2px!important;
	--urlbarView-hover-background: SelectedItem!important;
	--urlbarView-item-block-padding: 2px!important;
	--urlbarView-results-padding: 0px!important;
	--urlbarView-small-font-size: 1em!important;
	--urlbar-searchmodeswitcher-inline-padding: 3px!important;
	--urlbarView-action-button-background-color: SelectedItem!important;
	--urlbarView-item-inline-padding: 4px!important;
}

.urlbarView-action-btn{
	padding: 2px!important;
}

:root{
	&[privatebrowsingmode="temporary"], &[lwt-toolbar="dark"]{
		--toolbar-bgcolor: rgb(43, 42, 51)!important;
		--toolbar-color: rgb(251, 251, 254)!important;
	}
}

.urlbar[breakout][breakout-extend]{
	width: var(--urlbar-width)!important;
	margin-left:unset!important;
	margin-top: 5px;
	& > .urlbar-input-container{
		padding-block: var(--urlbar-container-padding)!important;
		padding-inline: var(--urlbar-container-padding)!important;
	}
}

.urlbarView{
	margin: 1px!important;
	margin-top: -1px!important;
	width: calc(100% - 2px)!important;
	border: 1px solid transparent!important;
	border-top: 0px solid transparent!important;
}

.urlbarView-body-inner {
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
    padding-top: 1px;
  }
}

#urlbar, #searchbar{
	font-size: 1em!important;
}

menuseparator, menupopup, menupopup > menuitem, menupopup > menu, #userChromejs_openChromeFolder, #userChromejs_restartApp{
	padding-block: 4px!important;
	padding-inline: 4px!important;
}

.searchbar-search-icon{
	margin-inline: 4px 6px!important;
}

menu, menuitem, menucaption{
	max-width: unset!important;
}

.tab-close-button{
	width: 20px!important;
	height: 20px!important;
	padding: var(--tab-close-button-padding)!important;
	margin-inline-end: -2px!important;
}

.urlbarView-row {
	min-height: 24px!important;
}

#urlbar .search-one-offs:not([hidden]){
	padding-block: 4px!important;
}

#alltabs-button #TabsToolbar {
	margin: 0 var(--tab-overflow-clip-margin)!important;
}

#identity-box[pageproxystate="invalid"] > .identity-box-button{
	padding-inline: var(--urlbar-icon-padding)!important;
}

.searchbar-engine-one-off-item {
	min-width: 24px!important;
	height: 24px!important;
	margin-inline-end: 4px!important;
}


#urlbar .searchbar-engine-one-off-item{
	margin-inline: 0 2px!important;
}

#urlbar .search-panel-one-offs-header-label{
	padding-inline: var(--urlbarView-item-inline-padding) 2px!important;
}
.urlbarView-row[label]::before{
	font-size: 1em!important;
}

.searchbar-separator{
	border-top:unset!important;
}

.search-setting-button{
	margin-inline: 4px!important;
	max-height:24px!important;
}

#urlbar[open] > #urlbar-background,
#urlbar[focused] > #urlbar-background, #searchbar:focus-within{
	box-shadow: none!important;
}

.menu-right{
	margin-inline-end:0!important;
}

.menu-accel, .menu-iconic-accel{
	margin-inline: .74em 0!important;
}

#identity-box[pageproxystate="valid"]:is(.notSecureText,
.chromeUI,
.extensionPage) > .identity-box-button,
#urlbar-label-box{
	padding-inline:2px!important;
}

#identity-box[pageproxystate="valid"]:is(.notSecureText,
.chromeUI,
.extensionPage) > .identity-box-button,
.searchbar-engine-one-off-item[selected]{
	background: SelectedItem!important;
}

#editBookmarkPanel{
	font: message-box!important;
}

#editBookmarkPanelTitle,
h1{
	font: caption!important;
}

#main-menubar > menu {
	&[_moz-menuactive] {
		background-color: SelectedItem!important;
		color: SelectedItemText!important;
	}
}

menu, menuitem {
	&:where([_moz-menuactive]:not([disabled="true"])) {
		background-color: SelectedItem!important;
		color: SelectedItemText!important;
	}
	&:where([_moz-menuactive="true"][disabled="true"]) {
		background-color: SelectedItem!important;
	}
}

toolbarbutton[open],
.searchbar-engine-one-off-item:hover,
.searchbar-engine-one-off-item[selected]{
		color: SelectedItemText!important;
}

.autocomplete-richlistitem {
	&:not([disabled="true"]):not([selected]):hover {
		color: SelectedItemText!important;
	}
}

.tabbrowser-tab,
.toolbarbutton-1,
toolbarbutton,
.urlbarView-row{
	&:not([disabled],[dynamicType="actions"]):hover{
		color: SelectedItemText!important;
	}
	:root:not([customizing]) &[disabled]{
		opacity: unset!important;
		color: ThreeDShadow!important;
	}
}


.tabbrowser-tab[selected]:hover{
	color: ButtonText!important;
}

/* needed for older FF versions */
.tab-background {
	&:is([selected], [multiselected]) {
		background-color: var(--tab-selected-bgcolor)!important;
		box-shadow: var(--tab-selected-shadow)!important;
		outline-color: var(--tab-selected-outline-color)!important;
	}
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon, .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]){
	background-color: SelectedItem!important;
}

#urlbar:is([focused], [open]) > #urlbar-background, #searchbar:focus-within{
	background-color: Window!important;
}

#navigator-toolbox{
	border-bottom-color: ThreeDShadow!important;
}

.toolbarbutton-animatable-box, .toolbarbutton-1{
	fill: currentColor!important;
}

.urlbarView-row {
	&[selected] {
		color: SelectedItemText!important;
		background-color: SelectedItem!important;
	}
}

.urlBarView, .urlbarView-body-inner, #urlbar, .search-one-offs {
	border-color: ThreeDShadow!important;
}

#urlbar:is([focused], [open]), #searchbar:focus-within, .urlbarView:not([noresults]) > .search-one-offs:not([hidden]){
	color: ButtonText!important;
}

body {
	/* Thanks Firefox/LibreWolf for having zero option to choose the CJK font priority on chrome. */
	font-family: system-ui, "Noto Sans CJK JP", "Yu Gothic";
}

.letterboxing {
	--letterboxing-bgcolor: black!important;
	.browserContainer {
		background: url("chrome://global/skin/media/imagedoc-darknoise.png") fixed!important;
		browser {
			box-shadow: 0px 0px 50px black;
		}
	}
}

findbar{
	z-index: 999999;
}

.searchmode-switcher {
	color: HighlightText;
}

.searchmode-switcher-chicklet, .urlbarView-action-btn{
	color: SelectedItemText;
}

.urlbarView-row {
	border: 0px solid transparent!important;
}
